.login {
  max-width: 50rem;
  display: flex;
  margin: 2rem auto;
  position: relative;
  box-shadow: 2px 3px 8px 4px rgba(0, 0, 0, 0.2);
}

.login-left {
  width: 60rem;
  /* height: 30rem; */
  padding: 0 0 2rem 0;
}

.login-left h1 {
  font-size: 2.5rem;
  margin: 2rem 0 2rem 5rem;
  text-transform: uppercase;
}

.login-left p {
  margin: 1.2rem 0 1.1rem 5rem;
  font-size: 1.2rem;
  width: 30rem;
  word-spacing: 0.3rem;
  line-height: 1.6rem;
}

.form {
  width: 36rem;
  /* height: 19rem; */
  margin: 0rem 0;
  margin: 0 0 0 5rem;
}

.form-class {
  display: flex;
  flex-direction: column;
  width: 25rem;
  height: 4rem;
  position: relative;
}

.form-class label {
  font-weight: 600;
  text-transform: uppercase;
  transition: all 0.5s ease;
}

.inputs {
  border: none;
  border-bottom: 1px solid black;
  height: 1.5rem;
  transition: border-bottom 0.5s ease;
}

.inputs:focus {
  outline: none;
}

.form button {
  border: none;
  background-color: #b37173;
  color: white;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  font-weight: 600;
  cursor: pointer;
}

.login-right {
  width: 10rem;
  background-color: #abbab1;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
